@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
    font-family: 'Kanit', sans-serif;
    transition: 0.1s linear;
}

#Intro {
    background-image: url("https://images.unsplash.com/photo-1563291074-2bf8677ac0e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=707&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body {
    background-color: hsl(0, 0%, 100%); 
    background-size: 100% 100%;
    background-attachment: fixed; 
}

::-webkit-scrollbar {
    background: white;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(90, 119, 235);
    border-radius: 10px;
}
